body {
	background: #1F2023;
  	font-family: 'FF Mark Pro';
  	margin: 0;
  	padding: 0;
}


.layout {
  background: #B00000;
}


.soundHeader__rightRow {
    display: none !important;
}

@media (min-width: 768px) {
}

