
.item {
	flex: 1 1 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 700ms ease;
}

.item iframe {
  margin-top: -3px;
  margin-bottom: -24px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .item {
  	flex: 1 1 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
 .item {
  	flex: 1 1 33.3333%;
  }  
}

@media (min-width: 1025px) {
    .item {
  	flex: 1 1 25%;
  }  
}


@media(min-width:768px) {
  .item:hovert iframe {
    background: none;
    filter: none;
    cursor: pointer;

}

  .item:after {
    content:"";
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background: rgba(0,0,0,0.7);


  }

  .item:hover:after {
    background: none;
    z-index: -1
  }

.item iframe {
  filter: grayscale(100%);
  cursor: pointer;
}

.item:hover iframe{
  filter: grayscale(0%);
}


}

