
.item {
	flex: 1 1 100%;
  margin-top: -24px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .item {
  	flex: 1 1 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
 .item {
  	flex: 1 1 33.3333%;
  }  
}

@media (min-width: 1025px) {
    .item {
  	flex: 1 1 25%;
  }  
}

