.container {
  	display: flex;
  	flex-wrap: wrap;
}

.previewButton {
  filter: grayscale(100%); 
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  flex: 1 1 50%;
  transition: all 400ms;
}

.previewButton:hover {
	filter: none;
}


.image {
	height: 320px;
}

[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.8) !important;
}

[data-reach-dialog-content] {
  width: 80vw !important;
  background: none !important;
  padding: 0 !important;
}